<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <h1>Dashboard</h1>
        <a href="auth/register?redirect_uri=%2Fbiosignalinfhir%2Fapi-docs&aud=asd&scope=patient%2F*.rs&state=asd&token_endpoint=%2Fauth%2Ftoken&client_id=neofass">Login</a>
        <a href="auth/signup">Registrar usuários</a>
        <h1>Recursos FHIR</h1>
        <a href="">Registrar pacientes</a>
        <a href="">Registrar médicos</a>
    </body>
</html>