<html>
    <head>
        <link rel="stylesheet" href="/biosignalinfhir/css/styles.css">
    </head>
    <body>
        <div class="container form-container">
            <img src="/biosignalinfhir/img/logo.png" />
            <span>Cadastro</span>
            <form method="POST" action="device" autocomplete="off">
                <div class="form-input">
                    <label for="client_id">Nome de Dispositivo: </label>
                    <input type="text" name="client_id" placeholder="Nome">
                </div>
                <input type="submit" value="Cadastrar">
            
            </form>
        </div>
    </body>
</html>