<html>
    <%- include('partials/head') %>
    <body>
        <div class="container form-container flex-center">
            <img class="logo" src="/biofass/img/logo.png" />
            <span>Cadastro</span>
            <form method="POST" action="device" autocomplete="off">
                <div class="form-input">
                    <label for="client_name">Nome de Dispositivo: </label>
                    <input type="text" name="client_name" placeholder="Nome">
                </div>
                <input type="submit" value="Cadastrar">
            
            </form>
        </div>
    </body>
</html>