<html>
    <%- include('partials/head') %>
    <body>
        <div class="container form-container flex-center">
            <img class="logo" src="/biosignalinfhir/img/logo.png" />
            <span>Cadastro</span>
            <form method="POST" action="signup" autocomplete="off">
                <div class="form-input">
                    <label for="username">Nome de Usuário: </label>
                    <input type="text" name="username" placeholder="Usuário">
                </div>

                <div class="form-input">
                    <label for="password">Senha: </label>
                    <input type="password" name="password" placeholder="********">
                </div>
                
                <div class="form-input">
                    <label for="name">Nome: </label>
                    <input type="text" name="name" placeholder="João">
                </div>

                <div class="form-input">
                    <label for="surname">Sobrenome: </label>
                    <input type="text" name="surname" placeholder="da Silva">
                </div>

                <div class="form-input">
                    <label for="email">Email: </label>
                    <input type="text" name="email" placeholder="jsilva@mail.com">
                </div>

                <div class="form-input">
                    <label for="phone">Telefone: </label>
                    <input type="text" name="phone" patten="\d{10,11}" placeholder="51123456789">
                </div>

                <div class="form-input">
                    <label for="birthdate">Data de Nascimento: </label>
                    <input type="date" name="birthdate">
                </div>
                
                <div class="form-input">
                    <label for="role">Papel:</label>
                    <select name="role" id="role" required>
                        <option value="patient">Patient</option>
                        <option value="practitioner">Practitioner</option>
                    </select>
                </div>
                <input type="submit" value="Cadastrar">
            
            </form>
        </div>
    </body>
</html>