<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biosignal in FHIR</title>
    <link rel="shortcut icon" href="/biosignalinfhir/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/biosignalinfhir/css/styles.css">
</head>